:root {
  --item_color: lightsteelblue;
  --background: beige;
  --font_color: black;
  --money_bar_bg: lightgreen;
  --money_bar_border: rgb(83, 225, 83);
  --price: rgb(0, 125, 0);
  --receipt_bg: lightgray;
  --receipt_border: darkgray;
  --receipt_hr: #909090;
  --message: gray;
  --menu: darkslateblue;
  --menu_icon: hsl(249, 80%, 75%);
  --menu_border: mediumslateblue;
}

.darkmode {
  --item_color: darkslateblue;
  --background: rgb(22, 23, 27);
  --font_color: lavender;
  --money_bar_bg: seagreen;
  --money_bar_border: mediumseagreen;
  --price: limegreen;
  --receipt_bg: dimgray;
  --receipt_border: gray;
  --receipt_hr: #909090;
  --message: silver;
  --menu: darkslateblue;
  --menu_icon: hsl(249, 80%, 75%);;
  --menu_border: mediumslateblue;
}

/*Smooth Scrolling*/
html {
  scroll-behavior: smooth;
}

/*Background and Fonts*/
body {
  background-color: var(--background);
  color: var(--font_color);
  margin: 25px;
  margin-bottom: 25px;
  font-family: Proxima-Soft;
  font-weight: bold;
}

/*Fonts*/
@font-face {
  font-family: Proxima-Soft;
  src: url(assets/fonts/proxima-soft.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(assets/fonts/RobotoMono-Regular.ttf);
}


/*Default Font Size*/
p {
  font-size: 14px;
}

/*Scroll to home button*/
.home_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  bottom: 120px;
  left: 10px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: var(--menu);
  border: 2px solid var(--menu_border);
}

/*Scroll to receipt button*/
.receipt_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  bottom: 65px;
  left: 10px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: var(--menu);
  border: 2px solid var(--menu_border);
}

/*Menu / Theme Switch*/
#theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  bottom: 10px;
  left: 10px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: var(--menu);
  border: 2px solid var(--menu_border);
}

#theme-switch svg {
  fill: var(--menu_icon);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: flex;
}


/*Profile Box*/
.profilebox {
  margin-top: 20px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  max-width: 325px;
}

/*Profile Picture*/
.pfp {
  width: 125px;
  border-radius: 50%;
  border: 2px solid white;
}

.pfp.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  5% { transform: translate(-1px, -2px) rotate(-1deg); }
  10% { transform: translate(-3px, 0px) rotate(1deg); }
  15% { transform: translate(3px, 2px) rotate(0deg); }
  20% { transform: translate(1px, -1px) rotate(1deg); }
  25% { transform: translate(-1px, 2px) rotate(-1deg); }
  30% { transform: translate(-3px, 1px) rotate(0deg); }
  35% { transform: translate(3px, 1px) rotate(-1deg); }
  40% { transform: translate(-1px, -1px) rotate(1deg); }
  45% { transform: translate(1px, 2px) rotate(0deg); }
  50% { transform: translate(1px, -2px) rotate(-1deg); }
  55% { transform: translate(1px, 1px) rotate(0deg); }
  60% { transform: translate(-1px, -2px) rotate(-1deg); }
  65% { transform: translate(-3px, 0px) rotate(1deg); }
  70% { transform: translate(3px, 2px) rotate(0deg); }
  75% { transform: translate(1px, -1px) rotate(1deg); }
  80% { transform: translate(-1px, 2px) rotate(-1deg); }
  85% { transform: translate(-3px, 1px) rotate(0deg); }
  90% { transform: translate(3px, 1px) rotate(-1deg); }
  95% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, 2px) rotate(0deg); }
}

/*Title*/
h1 {
  text-align: center;
  margin-bottom: 25px;
}

.money_bar {
  background-color: var(--money_bar_bg);
  border: solid;
  border-color: var(--money_bar_border);
  border-width: 3px;
  width: 100%;
  height: 75px;
  align-content: center;
  position: sticky;
  top: 20px;
  bottom: 20px;
  z-index: 1;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

/*Money Count*/
h2 {
  text-align: center;
}

/*Cost of Item*/
.cost {
	color: var(--price);
}


.buttons_container {
  display: flex;
  gap: 20px;
  width: 75%;
  justify-content: center;
}

/*Text color fix for some browsers*/
button {
  color: black;
}


/*Buy Button*/
.buy_button {
	width: 75px;
	background: linear-gradient(135deg, rgb(0, 179, 74), rgb(0, 230, 118));
	border-radius: 15px;
	padding: 10px;
	border: transparent;
	box-sizing: border-box;
	font-size-adjust: 2px;
	transition: box-shadow .3s;
}

.buy_button:hover {
  box-shadow: 0px 0px 15px 2px rgb(0, 210, 0);
}

.buy_button.disabled {
  background: linear-gradient(135deg, hsl(145, 0%, 35%), hsl(151, 0%, 45%));
}

.buy_button.disabled:hover {
  box-shadow: none;
}

/*Sell Button*/
.sell_button {
	width: 75px;
	background: linear-gradient(135deg, rgb(200, 23, 23), rgb(255, 75, 75));
	border-radius: 15px;
	padding: 10px;
	border: transparent;
	box-sizing: border-box;
	font-size-adjust: 2px;
	transition: box-shadow .3s;
}

.sell_button:hover {
	box-shadow: 0px 0px 15px 2px rgb(220, 0, 0);
}

.sell_button.disabled {
  background: linear-gradient(135deg, hsl(145, 0%, 35%), hsl(151, 0%, 45%));
}

.sell_button.disabled:hover {
  box-shadow: none;
}


/*Grid && Items*/
.grid_container {
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: max-content;
  justify-items: center;
  align-self: center;
  justify-content: center;
  display: grid;
  gap: 10px;
  margin: 15px;
}

.item {
  background-color: var(--item_color);
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 25px;
  padding: 0px;
  overflow: hidden;
}

.img_container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform .3s;
}

.img_container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.img_container:hover {
  transform: scale(1.2); /*If hover 120% zoom*/
}


/*Receipt*/
.receipt_title {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: x-large;
  text-decoration: underline;
}

.receipt_container {
  scroll-margin-top: 125px;
  align-content: center;
  background-color: var(--receipt_bg);
  border: 2px solid var(--receipt_border);
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 12.5px;
  font-family: RobotoMono;
  padding-top: 20px;
  padding-bottom: 20px;
}

.receipt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  width: 75%;
  border-collapse: collapse;
}

td:first-child {
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
  text-align: right;
}

.total_price {
  font-size: large;
  margin: 0;
}

.message {
  font-style: italic;
  color: var(--message);
}

.message2 {
  font-style: italic;
  color: var(--message);
  margin-top: 12.5px;
  margin-bottom: 0;
}

hr {
  margin: 10px 0;
  border: 1px dashed var(--receipt_hr);
  width: 80%;
  max-width: 350px;
}


/*Credits*/
h4 {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  font-size: 10px;
}
